%%capture install_messages
!pip install pydna
!pip install Bio
!pip install teemi
!pip install pyqt5
!pip install dnaplotlib

## GFP Assay combinatorics
### Load promoter & Terminator library and GFP sequence

In [ ]:
from teemi.design.combinatorial_design import DesignAssembly
from src.smart_functions import read_fasta_to_dseqrecords
from IPython.display import display

import os
os.chdir("..")

In [ ]:
promoters_fa = r'data/promoter_terminator_library/promoters.fasta'
terminators_fa = r'data/promoter_terminator_library/terminators.fasta'

m_paba_fa = r'data/insert_sequences/PABA.fasta'
dTomato_fa = r'data/insert_sequences/dTomato_non_optimized.fasta'

promoters, promoter_names = read_fasta_to_dseqrecords(promoters_fa)
cds_records, cds_names     = read_fasta_to_dseqrecords(dTomato_fa)
terminators, terminator_names = read_fasta_to_dseqrecords(terminators_fa)
m_paba, m_paba_names = read_fasta_to_dseqrecords(m_paba_fa)


list_of_seqs  = [[m_paba[0]], promoters, [cds_records[0]], terminators, [m_paba[1]]]

print(f"Promoters: {len(promoters)}, CDS: {len(cds_records)}, Terminators: {len(terminators)}")
if promoters:
    print("Example promoter length:", len(promoters[0].seq))
if cds_records:
    print("Example CDS length:", len(cds_records[0].seq))

Promoters: 9, CDS: 1, Terminators: 9
Example promoter length: 1000
Example CDS length: 714

In [ ]:
TARGET_TM = 65
LIMIT = 13
OVERLAP = 35

design = DesignAssembly(list_of_seqs, list_of_pads=[], positions_of_pads=[], target_tm=TARGET_TM, limit=LIMIT, overlap=OVERLAP)
variants_df = design.show_variants_lib_df()          
primers_df  = design.primer_list_to_dataframe()      
pcrs_df = design.pcr_list_to_dataframe()


out_dir = os.getcwd()
variants_csv = os.path.join(out_dir, "flouresence_variants_library.csv")
primers_csv  = os.path.join(out_dir, "flouresence_primers_list.csv")
pcrs_csv= os.path.join(out_dir, "flouresence_pcr_plan.csv")

variants_df.to_csv(variants_csv, index=False)
primers_df.to_csv(primers_csv, index=False)
pcrs_df.to_csv(pcrs_csv, index=False)

print(f"Variants: {len(variants_df)} saved -> {variants_csv}")
print(f"Primers:  {len(primers_df)} saved -> {primers_csv}")
print(f"PCRs:     {len(pcrs_df)} saved -> {pcrs_csv}")
display(variants_df.head())
display(primers_df.head())
display(pcrs_df.head())

Variants: 81 saved -> c:\Users\alexa\OneDrive - Danmarks Tekniske Universitet\27460 - Syntesebiologi\Exam\Combinatorics\variants_library.csv
Primers:  51 saved -> c:\Users\alexa\OneDrive - Danmarks Tekniske Universitet\27460 - Syntesebiologi\Exam\Combinatorics\primers_list.csv
PCRs:     90 saved -> c:\Users\alexa\OneDrive - Danmarks Tekniske Universitet\27460 - Syntesebiologi\Exam\Combinatorics\pcr_plan.csv

      0        1     2 Systematic_name  Variant
0  PKG1  reverse  PKG1       (1, 1, 1)        0
1  PKG1  reverse  ADH1       (1, 1, 2)        1
2  PKG1  reverse  TDH3       (1, 1, 3)        2
3  PKG1  reverse   ACT       (1, 1, 4)        3
4  PKG1  reverse  TEF1       (1, 1, 5)        4

,id,anneals to,sequence,annealing temperature,length,price(DKK),description,footprint,len_footprint
0,P001,PKG1,"(G, T, G, T, T, A, T, C, T, G, G, T, C, G, T, ...",54.88,19,34.2,Anneals to PKG1,"(G, T, G, T, T, A, T, C, T, G, G, T, C, G, T, ...",19
1,P002,PKG1,"(C, T, C, C, T, C, G, C, C, C, T, T, G, G, A, ...",54.79,37,66.6,"Anneals to PKG1, overlaps to 750bp_PCR_prod","(T, G, T, G, G, A, T, T, G, T, G, A, A, G, A, ...",19
2,P003,reverse,"(T, C, T, T, C, T, T, C, A, C, A, A, T, C, C, ...",54.10,32,57.6,"Anneals to reverse, overlaps to PKG1","(A, T, G, T, C, C, A, A, G, G, G, C, G, A)",14
3,P004,reverse,"(A, C, T, T, G, T, T, C, A, T, T, T, T, G, C, ...",53.64,34,61.2,"Anneals to reverse, overlaps to 1018bp_PCR_prod","(C, T, T, G, T, A, G, A, G, C, T, C, G, T, C, C)",16
4,P005,PKG1,"(A, T, G, G, A, C, G, A, G, C, T, C, T, A, C, ...",54.89,43,77.4,"Anneals to PKG1, overlaps to reverse","(A, A, A, G, C, A, A, A, A, T, G, A, A, C, A, ...",25

  pcr_number template forward_primer reverse_primer   f_tm   r_tm
0       PCR1     PKG1           P001           P002  54.88  54.79
1       PCR2  reverse           P003           P004  54.10  53.64
2       PCR3     PKG1           P005           P006  54.89  55.38
3       PCR4  reverse           P003           P007  54.10  53.64
4       PCR5     ADH1           P008           P009  54.24  53.28

In [5]:
print(primers_df["price(DKK)"].sum())

2644.2